@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Poppins&display=swap');

#output{
    display: inline-flex;
    margin: auto;
    margin-top: 30px;
    width: 60%;
    margin-left: 35%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: #262626;
}

#list-container-name {
    width: 40%;
    
}

.list-item-name {
    cursor: pointer;
    display: inline-flex;
    margin-left: 20px;
    display: block;
}


.list-item-name:hover {
    color: whitesmoke;
    background-color: #262626;
    transition: 0.1s;
}

#list-container-id {
    float: right;
    margin-left: 30px;
}

.sprites {
    margin-left: -30px;
}

@media only screen and (max-width: 1300px){
    
    #output{
        font-size: 30px;
        transition: 0.2s;
    }
    .sprites{
        width: 30px;
        height: 30px;
        transition: 0.2s;
    }
}

@media only screen and (max-width: 1180px){
    #output{
        font-size: 20px;
        transition: 0.2s;
    }
    .sprites{
        width: 20px;
        height: 20px;
        transition: 0.2s;
    }
}

@media only screen and (max-width: 780px){
    #output{
        font-size: 15px;
        transition: 0.2s;
    }
    .sprites{
        width: 15px;
        height: 15px;
        transition: 0.2s;
    }
}

@media only screen and (max-width: 768px) {
    #output{
        font-size: 10px;
        transition: 0.2s;
    }
    .sprites{
        width: 10px;
        height: 10px;
        transition: 0.2s;
    }
}